.stacks__name {
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.stacks__description {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.stacks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 100px 0 100px 0;
}

.stacks__item {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
  padding: 21px 0 22px 0;
  list-style: none;
  min-width: 90px;
  min-height: 60px;
  border-radius: 10px;
  background: #e8e8e8;
  box-sizing: border-box;
  display: block;
}

@media screen and (max-width: 768px) {
  .stacks__name {
    padding-top: 80px;
  }

  .stacks__description {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .stacks__list {
    gap: 10px;
    margin: 0;
    padding: 83px 0 90px 0;
  }

  .stacks__item {
    font-size: 12px;
    padding: 21px 0 10px 0;
    min-width: 84px;
    min-height: 57px;
  }
}

@media screen and (max-width: 835px) {
  .stacks__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 71px 90px;
  }
}

@media screen and (max-width: 400px) {
  .stacks__name {
    padding-top: 50px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .stacks__description {
    padding-top: 12px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.41px;
  }

  .stacks__item {
    padding: 21px 0 10px 0;
    letter-spacing: -0.3px;
  }
}