.checkbox-container {
  margin: 10px 0px 10px 41px;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .checkbox-container {
    margin-bottom: 54px;
  }

}

@media screen and (max-width: 320px) {
  .checkbox-container {
    margin-top: 5px;
    margin-bottom: 67px;
    margin-left: 3px;
    font-size: 11px;
  }

}

.checkbox {
  appearance: none;
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #2BE080;
  transition: .3s ease;
  cursor: pointer;
}

.checkbox:hover {
  opacity: 0.7;
}

.checkbox:checked {
  background-color: #2be080;
}

.checkbox:before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  background-color: #FFFFFF;
  transition: .1s ease;
}

.checkbox:checked::before {
  left: 17px;
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .checkbox-container {
    margin-left: 0;
    margin-top: 44px;
  }
}
