.student {
  max-width: 1280px;
  padding: 111px 70px 100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.student__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.student__info {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.student__info-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.student__name {
  margin: 0 0 20px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.student__job {
  margin: 0 0 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.student__description {
  /*margin: 0 0 99px;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.student__link {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: black;
}

.student__link:visited {
  color: #000;
}

.student__image {
  width: 270px;
  height: 327px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .student {
    max-width: 768px;
    padding: 90px 50px 92px;
  }

  .student__info {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .student__info-text {
    max-width: 364px;
  }

  .student__name {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
  }

  .student__job {
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 18px;
  }

  .student__description {
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .student__image {
    width: 255px;
    height: 307px;
  }

}

@media screen and (max-width: 650px) {
  .student__info {
    margin-top: 60px;
    flex-direction: column;
    gap: 40px;
  }

  .student__info-text {
    max-width: 100%;
  }

  .student__image {
    width: 292px;
    height: 352px;
    order: -1;
    align-self: center;
  }

}

@media screen and (max-width: 400px) {
  .student {
    max-width: 320px;
    padding: 50px 14px 69px;
  }

  .student__title {
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 28px;
  }

  .student__info {
    margin-top: 60px;
    flex-direction: column;
    gap: 40px;
  }

  .student__name {
    margin-bottom: 19px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .student__job {
    margin-bottom: 21px;
    font-size: 11px;
    line-height: 16px;
  }

  .student__description {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
  }

  .student__image {
    width: 292px;
    height: 352px;
    order: -1;
  }
}